body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.header-container {
  background-color: #111;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 30px;
}

.header-icons button {
  background-color: #00bfae;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.form-container {
  padding: 25px;
  background-color: white;
  max-width: 400px;
  /* height: 400px; */
  margin: 50px auto;

  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

input {
  width: 95%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #00bfae;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #007f7e;
}

.profile-container {
  padding: 20px;
  background-color: white;
  max-width: 400px;
  margin: 50px auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#edit-btn {
  margin-top: 20px;
  background-color: #f3f3f3;
  color: #333;
  border: 1px solid #ddd;
  padding: 10px;
  cursor: pointer;
}

#edit-btn:hover {
  background-color: #e0e0e0;
}


span:hover {
    color: #0318ff;
    cursor: pointer;
    text-decoration: underline;
}